@import "~materialize-css/dist/css/materialize.min.css";
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h5 {
    margin-bottom: 1px;
}

main {
    flex: 1 0 auto;
}

table {
    margin-top: 10px;
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
}

.btn-floating {
    margin-left: 4px;
    height: 1px;
    width: 1px;
}

.event-filters {
    margin-top: 20px;
}

.Mycontainer {
    margin: 0 auto;
    max-width: 1920px;
    width: 83%;
  }
